<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head 태그는 브라우저가 페이지를 어떻게 표시할지에 대한 정보를 넣는 곳이다. -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>제목은 미정. 여행 사이트</title>

    <!--    Bootstrap의 css 스타일을 불러오는 코드. Bootstrap이 제공하는 디자인을 사용하려면 필요함. 모던하고 반응형으로 만들어줌.    -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<!-- 실제로 사용자에게 보이는건 body 태그에 들어간다. -->
<body>
<!-- bootstrap -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <!-- d-block : 인라인 요소를 block 으로 바꿔줌, text-center : 텍스트 가운데로 -->
        <div class="container text-center">
            <a class="navbar-brand" href="#">여행 사이트</a>
        </div>

        <div class="justify-content-md-end">
            <a class="btn btn-primary" href="/index" role="button">로그아웃</a>
        </div>

        <!-- 햄버거 버튼 -->
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- 오프캔버스 오른쪽 메뉴 -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasRightLabel">메뉴</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="list-group">
                    <li class="list-group-item"><a href="#">홈</a></li>
                    <li class="list-group-item"><a href="#">여행지</a></li>
                    <li class="list-group-item"><a href="#">예약</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- 화살표가 안보인 이유 -> 아래의 사진들은 px를 사용해서 줄여놨는데 맨 처음 div는 줄여놓지 않아서 화면 바깥에 있었던 것. -->
<div id="carouselCaptions" class="carousel slide" data-bs-ride="carousel"
     style="width: 600px; height: 400px; margin: 30px auto 0; color: white">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <!-- 30px -> 위 | auto -> 좌우 | 0 -> 아래 -->
            <!-- object-fit: contain을 넣어야 이미지가 잘리지 않고 전체가 보이도록 축소가 된다. -->
            <img src="/Image/사진1.png" alt="사진1"
                 style="width: 600px; height: 400px; display: block; margin: 30px auto 0; object-fit: contain;">

            <!-- 이걸 넣어야 캐러셀이 됨. -->
            <div class="carousel-caption d-none d-md-block">
                <h5>First Slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <!-- 30px -> 위 | auto -> 좌우 | 0 -> 아래 -->
            <img src="/Image/사진2.png" alt="사진2"
                 style="width: 600px; height: 400px; display: block; margin: 30px auto 0; object-fit: contain;">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <!-- 30px -> 위 | auto -> 좌우 | 0 -> 아래 -->
            <img src="/Image/사진3.png" alt="사진3"
                 style="width: 600px; height: 400px; display: block; margin: 30px auto 0; object-fit: contain;">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" style="filter: invert(1)"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true" style="filter: invert(1)"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- 1. row -> div class="col" 담는 용도 -->
<!-- 2. row-cols-1 -> 모바일 화면에서는 한 줄에 1개의 열만 배치 -->
<!-- 3. row-cols-md-2 -> 중간 크기 이상 화면(md이상)에서는 한 줄에 2개 열 배치 -->
<!-- 4. g-4 -> 열과 열 사이에 gutter 간격을 줌. 숫자가 클 수록 간격이 큼. -->
<div class="row row-cols-1 row-cols-md-2 g-4" style="margin: 30px 30px 30px">
    <div class="col">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap JS CDN (반응형 토글 버튼 등 작동하려면 필요함) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>